#jp-cover {
	float:left;
	padding: 0px;
}

#jp-cover img {
	width: 150px;
	height: 149px;
	margin-top: 0px;
	padding-top: 0px;
	-moz-box-shadow: 3px 3px 3px #333;
    -webkit-box-shadow: 3px 3px 3px #333;
    box-shadow: 3px 3px 3px #333;
	-webkit-border-radius: 0.5em;
    -moz-border-radius: 1em 0em 0em 1em;
    border-radius: 1em 0em 0em 1em;
}

#jp_container_1 {
	margin-top: 10px;
	margin-left: 10px;
	width:470px;
	background-color:#333;
	border: 0px solid red;
	z-index: 1;
}

#jp-singer {
	font-size:18px; 
	font-family:sans-serif,Verdana, Arial;
	color: #666;
	height: 20px;
	padding: 0px;
	margin-top: 10px;
	margin-left:15px;
	margin-right:50px;
	border:0px solid red;
}
#jp-name {
	font-size:16px; 
	font-family:Verdana, Arial, sans-serif;
	color: #009be3;
	padding: 0px;
	margin-left:1px;
}
#jp-album {
	font-size:14px; 
	font-family:Verdana, Arial, sans-serif;
	color: #666;
	padding: 0px;
	margin-left:5px;
	margin-right:50px;
	border:0px solid red;
}
#jp-nameAlbum {
	height: 24px;
	margin-top:15px;
	margin-left:15px;
	margin-right:10px;
	border-bottom:1px solid #009be3;
}
#jp-report {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	float:right;
	margin-right:15px;
	border:0px solid red;
}
#jp-report img {width:25px; height: 25px;}
#jp-trash {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	float:right;
	margin-right:10px;
	border:0px solid red;
}
#jp-trash img {width:25px; height: 25px;}
#jp-favorite {
	width: 25px;
	height: 25px;
	margin-top: 10px;
	float:right;
	margin-right:10px;
	border:0px solid red;
}
#jp-favorite img {width:25px; height: 25px;}
