#nav{
  height:50px;	
  border:0;
  background-color:#ccc;
}
#channel-current img{
  background-color:#444;	
} 
#channel-current p{
  background-color:#777;
  color:#fff;
  font-size:16px;
}
.nav-icon{
  width:50px;
  height:50px;
  cursor:pointer;	
}
.gly-icon{
  cursor:pointer;	
}
	