<!DOCTYPE html>
<html lang="en" ng-app="FMApp">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="static/app/images/favicon.ico" >
		<link rel="icon" href="static/app/images/favicon.ico">
		<title>Dou FM</title>	

		<!---bootstrap-->
		<link rel="stylesheet" type="text/css" href="static/app/styles/bootstrap.min.css"/>
		<!---bootstrap end-->

		<!---GoogleNexus-->
		<link rel="stylesheet" type="text/css" href="static/app/vender/GoogleNexus/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="static/app/vender/GoogleNexus/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="static/app/vender/GoogleNexus/css/component.css"/>
		<!---GoogleNexus end-->

		<!---jplayer-->
		<link rel="stylesheet" type="text/css" href="static/app/vender/jPlayer/skin/blue.monday/jplayer.blue.monday.css"/>
		<!---jplayer end-->

		<!---my css-->
		<link rel="stylesheet" type="text/css" href="static/app/styles/style.css"/>
		<link rel="stylesheet" type="text/css" href="static/app/styles/music-player.css"/>
		<link rel="stylesheet" type="text/css" href="static/app/styles/nav.css"/>
		<!---my css end-->

	</head>

	<body ng-controller="FMCtrl">
		<!-- nav bar -->
		<nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				
		      	<div class="col-md-1"></div>
		      	
		      	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#music-type">
		      			<span class="sr-only">Toggle navigation</span>
		      			<span class="icon-bar"></span>
		      			<span class="icon-bar"></span>
		      			<span class="icon-bar"></span>
		      		</button>
		      		<img src="static/app/images/channel_icon.gif" class="navbar-brand nav-icon">
		      	</div>
		      	
		      	<div class="collapse navbar-collapse" id="music-type">
		      		<ul class="nav navbar-nav">
		      			<li class="dropdown">
		      				<a href="#" class="dropdown-toggle" data-toggle="dropdown">电台频道 <span class="caret"></span></a>
		      				<ul id="channel" class="dropdown-menu" role="menu">
							   {% if login_flag %}
									<li><a href="#" class="gn-icon gn-icon-earth" ng-click="clickFavorList('favor','我喜欢的')">喜欢的歌曲</a></li>
				   			   		<li><a href="#" class="gn-icon gn-icon-earth" ng-click="clickListenedList('listened','我听过的')">听过的歌曲</a></li>
								{% endif %}
                               <li ng-repeat="list in lists"><a href="#" class="gn-icon gn-icon-earth" ng-click="clickList('{{ list.key }}', '{{ list.name }}');">{{ list.name }}</a></li>
                            </ul>
		      			</li>
		      		</ul>
		      		
		      		<div id="channel-current" class="nav navbar-nav col-md-3">
		      			<img src="static/app/images/channel-current.gif" class="navbar-brand nav-icon" title="当前频道">
		      		  <!--  <p class="navbar-brand">当前频道 : <strong>{{ currentChannel }}</strong></p>-->
		      		    <li id="currentChannel" style="padding: 15px ;"><span>{{ currentChannel }}</span></li>
		      		</div>

		      	<!--<div class="nav navbar-nav col-md-2">
		      		  <div class="navbar-brand"><span class="glyphicon glyphicon-time gly-icon" title="我听过"></span></div>
		      	    <img src="static/app/images/favorite2.png" class="navbar-brand nav-icon" title="我喜欢">
		      	    <img src="static/app/images/trash.png" class="navbar-brand nav-icon" title="我不喜欢">
		      	  </div>
		      	-->
		      		<div class="col-md-1" ></div>
		      		
		      		<div class="nav navbar-nav" style="float:right;">
                    {% if login_flag %}
						<!-- 若登录成功，显示这块 -->
						<div class="loginSuccess">
							<div class="navbar-brand">
								<div id="logout_process" style="display:none">
									正在退出
								</div>
							</div>
							<div class="navbar-brand">
								<label for="username"><span class="glyphicon glyphicon-user gly-icon" title="用户名"></span></label>
								<a href="#" id="username" class="navbar-link">[[user_name]]</a>
							</div>
							<div class="navbar-brand">
								<a href="#" class="navbar-link" >
									<span id="logout" class="glyphicon glyphicon-off gly-icon" title="退出" ng-click="logoutClick();"></span>
								</a>
							</div>
						</div>
					{% else %}
						<div class="navbar-brand">
							<div id="login_process" style="display:none">正在登录</div>
						</div>
						<div class="col-md-2">
							<button type="button" id="login" class="btn btn-success navbar-btn" ng-click="loginClick();">登录</button>
						</div>
                    {% endif %}
		      	   </div>
		      	</div>	
	        </div>
		</nav>
		<!-- nav bar end-->

		<section id="content">
			<header>
				<h1>爱音乐, 爱生活</h1>
			</header>
			<article>
				<p>这是一个部署在校内的音乐服务器</p>
		    	<p>在这里听歌是不计外网流量的~</p>
		    		<!--<p>现已支持IPV6访问，欢迎有IPV6环境的其他高校同学<a href="http://ipv6.doufm.info/" target="_blank">使用</a></p>-->
				</br>
				<p><a href="http://jianshu.io/p/9084e1b0bfb7" target="_blank">DouFM OpenAPI</a></p>
				<p><a href="http://doufm.info/static/download/DouFM.apk">DouFM Android客户端（正式版1.0）</a></p>
				<p><a href="http://pgyer.com/laKw" target="_blank">DouFM IOS客户端（公测版）</a></p>
				<p><a href="http://doufm.info/static/download/DouFM-exe.rar" target="_blank">DouFM Windows客户端</a></p>

				</br>
				<p>建议使用 Chrome 浏览器以获得最佳用户体验</p>
				<span>Powered By <a href="https://github.com/DouFM" target="_blank">DouFM</a></span></br>
				<span>意见或建议：<a href="mailto:admin@doufm.info">admin@doufm.info</a></span>
			</article>
		</section>

		<section id="musicPanel">
			<!---musicPanel-->
			<div id="jquery_jplayer_1" class="jp-jplayer"></div>        
	    	<div id="jp_container_1"> 
		    	<div id="jp-cover"><img/></div>
        		<div class="jp-audio">

				<!-- ex-problem because conflict of ex-id 'jp-share' -->
        			<!--分享-->
        			<div id="jp-share" data-target="#share" data-toggle="modal"><a href="#" data-toggle="tooltip" title="分享给好友!"><img src="/static/app/images/share1.png"></a></div>
					<!-- favorite button here -->
					<div id="jp-favorite"><a href="#" data-toggle="tooltip" title="喜欢" ng-click="like()"><img ng-show="showFavor" src="/static/app/images/favorite.png" /></a></div>
					<div id="jp-favorite"><a href="#" data-toggle="tooltip" title="喜欢" ng-click="like()"><img ng-show="!showFavor"  src="/static/app/images/favorite2.png" /></a></div>
        			<!-- trash button here -->
        			<div id="jp-trash"><a href="#" data-toggle="tooltip" title="不喜欢" ng-click="dislike()"><img src="/static/app/images/trash2.png" /></a></div>



        			<!--  share window -->
					<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="myModalLabel">分享给好友</h4>
					      </div>
					      <div class="modal-body">
					      	<div id="shareMsg" class="alert alert-info"></div>
					      	<div>歌曲信息已经复制到剪切板，与朋友分享吧～</div>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
			    	<!--  share window -->

			    	<!--  share ended window -->
					<div class="modal fade" id="shareEnd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="myModalLabel">播放完毕</h4>
					      </div>
					      <div class="modal-body">
					      	<div class="alert alert-info">这首歌曲已经收听完毕，想要收听更多吗？</div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal"onclick="javascript:window.opener = null;window.open('', '_self');window.close();">离开这儿</button>
					        <button type="button" class="btn btn-primary" onclick="javascript:window.location.href='http://' + window.location.host;">去主页瞧瞧~</button>
					      </div>
					    </div><!-- /.modal-content -->
					  </div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
			    	<!--  share ended window -->

	            	<div id="jp-singer"></div>   
	            	<div id="jp-nameAlbum"><marquee id="nameAlbum"scrollamount="2"  behavior="scroll" hspace="6" onMouseOut="this.start()" onMouseOver="this.stop()"></marquee></div>

	            	<div class="jp-type-playlist">
                		<div class="jp-gui jp-interface">
	                		<ul class="jp-controls">
			                    <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
			                    <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
		                    	<li><a href="javascript:;" class="jp-next" tabindex="1" id="jp-next" ng-click="clickNext()">next</a></li>
			                    <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
			                    <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
			                    <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
		                  	</ul>
	                		<div class="jp-progress">
                    			<div class="jp-seek-bar">
                     				<div class="jp-play-bar"></div>
                    			</div>
	                		</div>
	                		<div class="jp-volume-bar">
                    			<div class="jp-volume-bar-value"></div>
	                		</div>
			                <div class="jp-time-holder">
			                  	<div class="jp-current-time"></div>
		                    	<div class="jp-duration"></div>
	                		</div>

		                    <ul class="jp-toggles" style="visibility:hidden">
		                      	<li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
		                      	<li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
		                      	<li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
		                      	<li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
		                    </ul>
		                </div>
		            </div>
		    	</div>    
		    </div>
			<div class="clear"></div>

			<div id="recentTenSongs">
				<ul class="thumb">
					<li ng-repeat="music in musics"><a href="#" ng-click="clickCover({{$index}})"><img ng-src="{{ music.cover }}" alt="{{music.album}}- {{music.artist}}" /></a></li>
				</ul>
			</div>
			<!---musicPanel end-->
		</section>
		
		<script src="static/app/vender/GoogleNexus/js/modernizr.custom.js"></script>
		<script src="static/app/vender/GoogleNexus/js/classie.js"></script>
		<!--
		<script src="static/app/vender/GoogleNexus/js/gnmenu.js"></script>	
		<script>

		</script>
		-->
		<!---JS-->
		<script type="text/javascript" src="static/app/vender/jquery.min.js"></script>
		<script type="text/javascript" src="static/app/vender/jquery.zclip.js"></script>
		<script type="text/javascript" src="static/app/vender/zoomer.js"></script>
		<script type="text/javascript" src="static/app/vender/bootstrap.min.js"></script>
		<!---angularJS -->
		<script type="text/javascript" src="static/app/vender/angularJS/angular.js"></script>
		<!---angularJS -->

		<!---my JS -->
		<script type="text/javascript" src="static/app/scripts/controllers.js"></script>
		<script type="text/javascript" src="static/app/scripts/services.js"></script>
		<!---my JS -->

		<script type="text/javascript" src="static/app/vender/jPlayer/js/jquery.jplayer.js"></script>
		<script type="text/javascript" src="static/app/vender/jPlayer/js/jplayer.playlist.min.js"></script>


		<!---JS-->
		<!--
		<script type="text/javascript">
	      $(document).ready(function(){
	      	//登录
	        $('#login').click(function(){
              $('#login').css("display", "none");
              $('#login_process').css("display", "block");
	          $.ajax({
	            url: '/api/oauth/request/',
	            type: 'GET',
	            dataType: 'json',
	            data: '',
	            success: function(data){
	              if(data.status=='success'){
	                window.location.href=data.authorize_url;	
	              }	
                  else{         
                    $('#login').css("display", "block");
                    $('#login_process').css("display", "none")
                  }
	            }	
	          });
	        });

	        //退出
	        $('#logout').click(function(){
              $('#logout_process').css("display", "block");
              $('#username').css("display", "none");
              $('#logout').css("display", "none");
	          $.ajax({
	            url: '/api/user/logout/',
	            type: 'GET',
	            dataType: 'json',
	            data: '',
	            success: function(data){
	              if(data.status=='success'){
                    window.location.reload(true);
	              }	
                  else{       
                      $('#logout_process').css("display", "none");
                      $('#username').css("display", "block");
                      $('#logout').css("display", "block");
                  }
	            }	
	          });
	        });	

	      });
	    </script>
	    -->
		<!-- </script> -->

	</body>
</html>

