
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>dou FM</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/static/add-in/jPlayer/skin/blue.monday/jplayer.blue.monday.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/music-player.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/add-in/jPlayer/js/jquery.jplayer.js"></script>
	<script type="text/javascript" src="/static/add-in/jPlayer/js/jplayer.playlist.min.js"></script>
	<script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
	<!---topPanel-->
	<div id="topPanel">
		<ul>
			<li><a href="#">注册</a></li>
			<li><a href="#">登录</a></li>
		</ul>
		<a href="#"><img src="/static/images/logo.gif" title="Trial Services" alt="Trial Services" width="230" height="80" border="0" /></a>
	</div><!---topPanel end-->

	<!---bodyPanel-->
	<div id="bodyPanel">
		<div id="musicChannel">
		</div>
		<!---musicPanel-->
		<div id="musicPanel">
			<div>
				<div id="jquery_jplayer_1" class="jp-jplayer"></div>        
	            <div id="jp_container_1"> 
	                <div id="jp-cover"><img src="/static/images/default.jpg"/></div> 
	                <div class="jp-audio" style="-webkit-border-radius: 0.5em;-moz-border-radius: 0 0.5em 0.5em 0;border-radius: 0 1em 1em 0;">
	                    <!-- interaction button -->
	                    <div id="jp-report" ></div>
	                    <div id="jp-trash"></div>
	                    <div id="jp-favorite"></div>
	                    <!-- interaction button end-->

	                    <!--  report window -->
	                    <div id="myModal" align="middle" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align: center">
	                        <div class="modal-header">
	                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                            <h3 id="myModalLabel">报告信息</h3>
	                        </div>
	                        <div class="modal-body">
	                             <div id="reportInfo"></div>
	                        </div>
	                        <div class="modal-footer">
	                            <button class="btn btn-primary" data-dismiss="modal" onClick="submitReport()" aria-hidden="true">报告错误</button>
	                            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
	                        </div>
	                    </div>
	                    <!-- report window end -->

	                    <div id="jp-singer"></div>   
	                    <div id="jp-nameAlbum"></div>   

	                    <div class="jp-type-playlist">
	                        <div class="jp-gui jp-interface" style="-webkit-border-radius: 0.5em;-moz-border-radius: 0 0.5em 0.5em 0;border-radius: 0 0 1em 0;">
	                            <ul class="jp-controls">
	                                <!-- <li><a href="javascript:;" class="jp-previous" tabindex="1" style="visibility:hidden">previous</a></li> -->
	                                <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
	                                <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
	                                <li><a href="javascript:;" class="jp-next" tabindex="1" id="jp-next">next</a></li>
	                                <!-- <li><a href="javascript:;" class="jp-stop" tabindex="1" style="visibility:hidden">stop</a></li> -->
	                                <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
	                                <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
	                                <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
	                            </ul>
	                            <div class="jp-progress">
	                                <div class="jp-seek-bar">
	                                     <div class="jp-play-bar"></div>
	                                </div>
	                            </div>
	                            <div class="jp-volume-bar">
	                                <div class="jp-volume-bar-value"></div>
	                            </div>
	                            <div class="jp-time-holder">
	                                <div class="jp-current-time"></div>
	                                <div class="jp-duration"></div>
	                            </div>
	                            <ul class="jp-toggles" style="visibility:hidden">
	                                <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a></li>
	                                <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a></li>
	                                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
	                                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>    
	            </div>
			</div>
			<div id="recentTenSongs">
				<table>
					<tr>
						<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
					</tr>

				</table>
			</div>
			<div id="about">
				<h3>About Us</h3>
				<div id="testimonial">
					<p><span>Dou音乐,爱生活</span></p>
				    <p>这是一个部署在校内的音乐服务, 在这里听歌是不计外网流量的~</p>
					<p class="moretwo"><a href="#">More</a></p>
				</div>
			</div>
		</div>	
	</div><!---bodyPanel end-->

	<!---footPanel-->
	<div id="footerPanel">
	  	<div id="footerbodyPanel">
		  	<ul>
			  	<li><a href="#">Home </a>| </li>
			  	<li><a href="#">About us</a> | </li>
			  	<li><a href="#">Support </a>| </li>
				<li><a href="#">Clients</a> | </li>
				<li><a href="#">Contact </a> </li>
		  	</ul>
		  	<p class="copyright">© trial services all right reaserved</p>
	  	</div>
	</div><!---footPanel end-->
</body>
</html>
